*\.swp
*~
/rpmbuild/BUILD/*
!/rpmbuild/BUILD
/rpmbuild/RPMS/*
!/rpmbuild/RPMS
/rpmbuild/SRPMS/*
!/rpmbuild/SRPMS
/rpmbuild/BUILDROOT
/rpmbuild/SOURCES/*.tar.gz
/rpmbuild/SOURCES/*.tar.Z
/rpmbuild/SOURCES/*.tar.bz2
/rpmbuild/SOURCES/*.tgz
/rpmbuild/SOURCES/*.png
/rpmbuild/SOURCES/*.ico
/rpmbuild/SOURCES/eFa-base-5.0.0/eFaInit.old
/rpmbuild/SOURCES/eFa-base-5.0.0/eFaInit.old/*
